@model List<Settings>
@{
    var counter = 0;
}
<div class="container-fluid">
    <div class="mb-3">
        <h1>About Table</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td colspan="2">@item.Key</td>
                    <td colspan="3">@item.Value</td>
                    <td>
                        <a class="btn btn-warning" style="width:70px;height:50px" asp-action="Update" asp-controller="Setting" asp-route-id="@item.Id">Update</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
